<%- include("header") -%>

<div class="heading" id="todo">TO<span>DO</span></div>

<div class = "h1heading">
    <button  value="professional" class="h1">professional</button>
    <button value="personal" class="h1">personal</button>
    
</div>
<form method="get" action="/get">
<div class="mainbox">
    <button name="mainbtn" id="professionalbtn"  value="professional" class="ppbtn">professional</button>
    <button name="mainbtn" id="personalbtn" value="personal" class="ppbtn">personal</button>
</div>
</form>
<script>
   



</script>

<%- include("footer") -%>